.montserrat-global {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
    display: flex;
    flex-direction: column; 
    width: 100dvw;
    height: 100dvh;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;  
} 

.titulo{ 
    align-self: center;  
}
  
.introduccion{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;  
} 

.introduccion p {
  max-width: 800px; 
  font-size: large;  
}   

.contenido {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
} 

.input-group {
  display: flex;
  flex-direction: row;  
}   
table {
  border-collapse: collapse;
  margin: 16px auto;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
table td {
  border: 1px solid #999;
  padding: 8px;
}
table input {
  border: 1px solid #ccc;
  padding: 6px;
  border-radius: 4px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
button {
  margin-left: 8px;  
  border-radius: 10px;
  border-width: 1px;  
  width: 160px;
  height: 30px; 
}
 
button:hover {  
  background-color: #b9def3; 
  cursor: pointer;  
}

button:active{ 
  background-color: #a0c8e0; 
}